* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a:link, a:visited {
    color: inherit;
}

html, body {
    height: 101%;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    padding-top: 16px;
    z-index: 99;
    transition: all 0.6s ease;
    background-color: #333;
}

nav ul {
    padding-left: 0;
    text-align: right;
    overflow: hidden;
    margin: 0;
}

nav li {
    display: inline-block;
    font-size: 22px;
    margin-left: 25px;
    letter-spacing: 1px;
    color: white;
    /*background-color: #333;*/
    padding: 10px 15px;
    height: 51px;
}

nav li:hover {
    color: #4DB6AC;
}

nav a {
    display: block;
} 

.handle {
  width: 100%;
  background-color: grey;
  text-align: left;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
  font-size: 22px;
  color: white;
  border: none;
}

.name {
    float:left;
}

.intro {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)),url("./images/atl-wallpaper2.jpg")no-repeat center center fixed;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    /*height: 911px;*/
    background-size: cover;
    text-align: center;
}

.intro-title {
    padding-top: 6rem;
    color: #fff;
    font-size: 3rem;
    margin-top: 0px;
}

.intro-body {
    color: #FFF;
    font-size: 33px;
}

.project-title {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #26A69A;
}

.blue-underline {
    border-bottom: 2px solid #4DB6AC;
    padding: 4px;
}
.blue-underline:hover {
    background-color: #4DB6AC;
    color: #FFF;
}

.pomo-gitto-about p{
    margin-top: 0;
}

.pomo-gitto-about {
    padding-left: 45px;
}

.time-in-space-about {
    padding-right: 45px;
}

.git-link {
    text-align: center;
}

.git-button {
    position: relative;
    top: 20px;
    padding: 10px 15px;
    background-color: #00796B;
    color: #FFF!important;
}

.git-button:hover {
    background-color: #26A69A;
}

.screenshot {
    width: 100%;
     box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.5);
}

.space-mobile {
    display: none;
}

hr {
    border: 1px solid #26A69A;
}

.time-in-space-about {
    margin-top: 100px;
}

.space-pic {
    margin-top: 100px;
}

.about-me-title {
    text-align: center;
    font-size: 30px;
    padding-top: 145px;
    color: #26A69A;
    margin-top: 0px;
}

#about-me {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9)),url("./images/fog-atl.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background-position: bottom;*/
    background-position: center;
    background-size: cover;
    min-height: 83%;
    min-width: 1024px;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    margin-top: 80px;
} 

.about-me {
    /*margin-bottom: 100px;*/
    height: 100%;
    text-align: center;
}

.contact {
    /*margin-top: 100px;*/
    text-align: center;
}

.bottom-hr {
    width: 60%;
    margin-top: 24px;
    border: 1px solid #E0F2F1;
}

.contact-title {
    color: #26A69A;
    font-size: 30px;
}

footer {
    height: 66px;
    background-color: #333;
}

footer p{
    text-align: center;
    padding: 22px;
    color:  #FFF;
    font-size: 15px;
    margin-top: 0;
    color: #26A69A;
}

@media only screen and (max-width: 640px) {

    .space-mobile {
        display: block;
    }

    .space-desktop {
        display: none;
    }

    .pomo-gitto-about {
        margin-top: 80px;
        padding-left: 0px;
    }

    .about-me-p {
        font-size: 15px;
        text-align: left;
    }

    .contact-info-p {
        font-size: 15px;
    }

    .contact-title {
        font-size: 20px;
    }

    .project-title {
        margin-top: 14px;
    }
}

@media only screen and (max-width: 860px) {
  nav {
    padding: 0;
    width: 100%;
  }

  nav ul {
    max-height: 0px;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    width: 100%;
    text-align: left;
    margin: 0;
    border: none;
  }

  .handle {
    display: block;
  }

  .intro {
      min-width: 100%;
      background-attachment: scroll;
      height: 500px;
      text-align: center;
  }

  #about-me {
      background-attachment: scroll;
      min-width: 100%;
  }

  .about-me-title {
      padding-top: 20%;
  }

  .intro-title {
      font-size: 2rem;
  }

  .intro-body {
      font-size: 18px;
  }
}